body{
    font-family: sans-serif;
    background-color: gray;
    margin: 20px;
    color: white;

}
.nuestrosServicios{
    margin-top: 20px;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.preferencias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}